body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /* background-image: url('../images/AbotUsimg/brooklyn-united-states-coffee-shop-new-york.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  background-color: rgba(7, 7, 7, 0.952);
  /* background-blend-mode: darken; */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
main{
  margin-top: 40px;
}
.about-section h1{
font-size: 30pt;
}
.about-section p{
  text-align: center;
  width: 80%;
  margin: 20px auto;
  line-height: 2;
  font-size: 15pt;
}
#article h2 {
  margin-top: 40px;
  font-size :30pt; ;
}

#article p{
  text-align: center;
  width: 80%;
  margin: 20px auto;
  line-height: 2;
  font-size: 15pt;
}
.column {
  float: left;
  width: 20%;
  margin-bottom: 30px;
  padding: 0 8px;
  margin-top: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
 
}

.about-section {
  padding: 50px;
  text-align: center;
  background-image: url(../images/HomeImages/Coffeehouse+background.jpg);
    /* background: radial-gradient(
        circle,
        rgba(107, 106, 106, 0.76)0%,
        rgba(37, 37, 37, 0.616)100%
        
        );  */
        background-color: rgba(116, 112, 112, 0.932);
        background-attachment: fixed;
        background-blend-mode: darken;
    
  color: white;
  text-shadow: 2px 2px 4px black;
}

.container {
  padding: 0 16px;
  background: radial-gradient(
        circle,
        rgba(107, 106, 106, 0.76)0%,
        rgba(37, 37, 37, 0.616)100%
        
        ); 
        color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 15pt;
  text-shadow: 2px 2px 4px black;
}
.container a{
  /* text-decoration: none; */
  color: white;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(62, 52, 114);
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 12pt;
}

.button:hover {
  background-color: #555;
}
.container *{
  padding-top: 15px;
}

.card img{
  height: 300px;
} 
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}