*{
  box-sizing: border-box;
  }
  body{
    width: 100%;
    margin: 0 auto;
    background-color: white;
  }
  #first img {
    width: 100%;
    /* background-image: url('../images/Blog-img/new_ca_onthego_1_2_1.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
  }
  #first h1{
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: 30%;
    /* padding: 100px 0; */
    color: beige;
    /* text-shadow: 2px 2px 4px black; */
  }
  #sec{
    margin-top: 10%;
  }
  #sec p {
    text-align: center;
    font-size: 30pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  }
  h2{
    font-size: 40pt;
    color: #A9855B;
    font-family: "Muli Regular", arial, serif;
  }
  #blockOne {
  
    position: relative;
    margin-top: 10%;
  }
  
  #blockOne #photoOne{
   display: inline-block;
    width:45%;
    margin-left: 5%;
    
  }
  #photoOne img {
    width: 100%;
  }
  /* #textOne {
    display: inline-block;
    width: 30%;
  } */
  #textOne {
     line-height: 1.2; 
    font-size: 21pt;
    display: inline-block;
    margin-left: 75px;
    position: absolute;
    width: 30%;
    top: -15%;
    letter-spacing: 1.5px;
    color: #787878;
  
  }
   
  #beensOne{
    display: inline-block;
    width: 10%;
    position: absolute;
    right: 0%;
    bottom:-150px;
  
  }
  #beensOne img{
    width: 100%;
  }
  
  #blockTwo{
    position: relative;
    margin-top: 10%;
  }
  
  #beensTwo{
    display: inline-block;
    width: 10%;
    position: absolute;
    left: 0%;
  bottom: -600px;
  }
  #textTwo{
    line-height: 1.2; 
    font-size: 21pt;
    display: inline-block;
    margin-left: 10%;
    position: absolute;
    width: 30%; 
    letter-spacing: 1.5px;
    color: #787878;
  
  }
  #textTwo p {
    position: absolute;
    top: 75%;
  }
   #textTwo h2{
  margin-top: -20px;  
  } 
  #photoTwo{
    display: inline-block;
    width:45%;
    position: absolute;
    right: 5%;
  }
  #photoTwo img{
    width: 100%;
  }
  #beensTwo img{
    width: 100%;
  }
  
  
  #blockThree {
    position: relative;
    margin-top: 50%;
   }
  #blockThree #photoThree{
   display: inline-block;
    width:45%;
    margin-left: 5%;
    
  }
  #photoThree img {
    width: 100%;
  }
  
  #textThree {
  
    line-height: 1.2; 
    font-size: 21pt;
    display: inline-block;
    margin-left: 75px;
    position: absolute;
    width: 30%;
    top: -13%;
    letter-spacing: 1.5px;
    color: #787878;
    
  }
  #beensThree{
    display: inline-block;
    width: 10%;
    position: absolute;
    right: 0%;
    bottom:-150px;
  
  }
  #beensThree img{
    width: 100%;
  } 
  
  #subscripe {
    margin-left: 5%;
    margin-top: 5%;
  }
  
  #subscripe p{
    display: inline-block;
    font-size: 35pt;
    width: 50%;
    color: #A9855B;
    
  }
  #subscripe form {
    display:inline-block;
  width: 45%;
  }
  #subscripe input {
    display: inline-block;
    /* margin-left: 20%; */
  width: 50%;
  font-size: 15pt;
  padding: 5px;
  border: darkgrey solid 2px;
  border-radius: 3px;
  }
  #subscripe button {
    display: inline-block;
    /* margin-left: 40%; */
    font-size: 15pt;
    padding: 5px;
    margin-left: 5%;
    width: 25%;
    border-radius: 3px;
  }
  #subscripe button:hover{
    background-color: black;
    color: bisque;
  }
  