*{
    box-sizing: border-box;
    max-width: 100%;
}
body{
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    
}
header{
    width: 100%;
    border:solid 5px black;
    background-color: brown;
    height:200px;
}
main {
    width: 100%;
    position: relative;
    background-image: url(../images/contactUS/contactUsMainImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: screen;
    
}
#video img {
    margin-top: 30px;
    margin-left: 40%;
}

#contactInfo {
    position: relative;
    /* border: solid 3px; */
    display: inline-block;
    width: 100%;
    margin-left: 10%; 
    margin-top: 20px;
    /* margin-bottom: 50px;  */
    
}
#contactInfo div {
    display: inline-block;
    
}
#contactUsImg {
    /* background-color: green; */
    width: 40%;
    /* float: right; */
    position: absolute;
    top: 1%;
    left: 40%;
    

}
#contactInfo h2 {
    font-size: 60pt;   
    
}

#contactInfo div {
    width: 50%;
    
    display: inline-block;  

 
}
#contactInfo div:first-child {
    width: 45%;
    margin-top: 20px;
    /* padding-bottom: 100px; */

}
#contactInfo div:last-child {
    width: 45%;
    /* margin-top: 50px; */
    
}
#contactInfo div ul * {
    display: inline-block;
 

}
#contactInfo div ul {
    margin-top: 20px;
}

#contactInfo div ul img {
    width: 40px;

    
}
#contactInfo div ul p {
    font-size: 30pt;
    padding-left: 10px;
    /* padding-bottom: 50px; */
  
}
#feeds {
    padding: 50px;
}

#formFeed {
    width: 90%;
    margin-left: 20%;
    margin-top: 5%;

}
#formFeed #user {
    width: 45%;
   margin-right: 10px; 
   margin-left: 10px;
}
#formFeed #email {
    margin-left: 10px;
    width: 45%;
    
}
#formFeed #message {
    width: 80%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    
}
#formFeed #message::placeholder{
    font-size: 20px;    
} 
#formFeed #btn {
    font-size: 13pt;
    border-radius: 20%;    
    margin-left: 10px;
}

#listFeedback {
    width: 55%;
    margin-left: 20%;
    margin-top: 50px;
    background-image: url(../images/contactUS/list-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
   
    
}
#listFeedback ul {
    height: 300px;
    overflow: scroll;
}
#listFeedback ul::-webkit-scrollbar {
    width: 5px;
}
#listFeedback ul::-webkit-scrollbar-thumb{
    background-color: rgb(114, 53, 53);
    border: solid 5px rgb(75, 72, 72);
    
}


#listFeedback ul li {
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.4;
    font-family: 'Indie Flower', cursive;
}
 #formFeed fieldset {
    border: solid 5px white;
    border-radius: 7px;
    padding: 10px;    
    width: 60%;
    align-content: center;   


} 
 #formFeed fieldset legend {
    color: antiquewhite;
    font-size: 20pt;
     /* text-align: center;  */
     text-shadow: 2px 2px 4px black;
} 



footer{
    width: 100%;
    height: 200px;
    /* margin-top: 50px; */
    border: solid 5px black;
    background-color: brown;
}