/* header{

    display: inline-block;
} */

*{

    box-sizing: border-box;
}
/* body{
    padding: 10px;
    width: 100%;
    margin: 0 auto;
} */
header {
    border:solid white .9px;
    
    position: relative;
width: 80%;
background-color: #0a0a0a;
    margin: 0% auto;
    height: 130px;
}
header nav ul{
     display: inline-block;
    position: absolute;
    right: 5%;
    top: 2%;
    

}
header ul li  {

    padding: 50px;
    color: burlywood;
    display: inline-block;
    /* float: right; */
    

}
#logo{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-top: -35px;
}

header ul li a {

    display: block;
    text-decoration: none;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-size: 27px;

}
header nav ul li :hover {
    
  color: burlywood;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; 
  }
header nav div img {

    position: absolute;
   margin: 1%;
   margin-left: 15px;
}
header ion-icon {
    display: inline-block;
    font-size: 30px;
    color: white;
  }
header ion-icon:hover{
    
    color: burlywood;
  }