* {box-sizing:border-box}
/* #slideshow {
/* background-color: #0C0503; */
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  transition: .5s ease;
}
/* Caption text */
.text {
  color: #F2F2F2;
  font-size: 25pt;
  padding: 8px 12px;
  position: absolute;
  bottom: 3%;
  width: 100%;
  text-align: center;
 text-shadow: 2px 2px 2px black;
  text-decoration : none;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
/* Number text (1/3 etc) */
.numbertext {
  color: #F2F2F2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(235, 229, 229);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #865439;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#gif{
  position: relative;
  width: 100%;
  /* height: 800px; */
  
  /* right: 0;
  bottom: 0;  */
  overflow: hidden;
}
.headingslide{
  position: absolute;

  text-align: center;
color: white;
font-size: 120px;
padding-left: 23%;
padding-top: 30%;
font-weight: bolder  ;
font-family: 'Bebas Neue', cursive;;
text-shadow: 2px 2px 2px black;

}
#gif ion-icon{
  width: 45px;
 margin: 0%;
}
.p {
  position: absolute;

  text-align: center;
color: white;
font-size: 50px;
padding-left: 31%;
padding-top: 40%;

}

.image-logo{
  position: absolute;

  text-align: center;
color: white;
font-size: 50px;
padding-left: 36%;
padding-top: 5%;
  
}
span{
  content: "\274A";
  /* width: 1px;
  height: 1px; */
}
/* }
#welcomevid{
  
} */
/* #gif img{
  width: 100%;
  height: 800px;
} */
#article {
  width: 100%;
  text-align: center;
  /* background-color: rgb(223, 196, 196); */
  margin-top: 3%;
  display: inline-block;
}


#espresso {
  display: inline-block;
  padding-bottom: 3%;
}
#Late{
  display: inline-block;
  padding-left: 10%;
}
#Traditional {
  display: inline-block;
  padding-left: 10%;
}
#mocha{
  display: inline-block;
  /* padding-left: 10%; */
}
#capuccino{
  display: inline-block;
  padding-left: 10%;
}
#frape{
  display: inline-block;
  padding-left: 11%;
}

#article h2{
  padding-top: 15px;
  font-size: 30pt;
  color: white;
}

#cup-style{
  margin-top: 3%;
  text-align: center;
  margin-left: 20px;
  height: 30px;
  /* text-shadow: 2px 2px 4px black ; */
  /* font-family: 'Times New Roman', Times, serif; */
}
#cup-style span{
  color: #fcd4b4;
  font-size: 50px;
   font-family:'Times New Roman', Times, serif;
}
#hour {
  width: 100%;
  margin-top: 10%;
  padding-left: 20px;
  margin-bottom: 10%;
}
#left{
  
  position: relative;
  display: inline-block;
  width:50%;
  /* background-color: darkgray; */
  margin-left: 3%;
  /* border: solid white; */
  /* margin-bottom: 30px; */
  padding-bottom: 9px;
  color: white;
  text-shadow: 2px 2px 4px black ;
}
#left img {
  animation-name: example;
  animation-duration: 10s;
   animation-iteration-count: infinite;
  position: absolute;
 bottom: 100px;
 margin-left: 15%;
 width: 300px;
height: 300px;
}
 
@keyframes example {
  0%   {left:100px; right:150px;}
  25%  {left:100px; right:150px;}
  50% {left:200px; right:150px;}
  75%  {left:0px; right:100px;}
  100%  {left:100px; right:150px;}
  /* 87.5% { left:0px; right:150px;} */
  /* 37.5% {left:0px; right:150px;} */
  /* 12.5%  {left:100px; right:0px;} */
  /* 62.5% {left:0px; bottom:150px;} */
}
#left h2{
  bottom: 550px;

  margin-left: 20%;
position: absolute;
  font-size: 30pt;
  margin-left: 5%;
  /* padding-top: 20px; */
}
#left p{
  position: absolute;
  bottom: 440px;

  font-size: 20pt;
  width: 82%;
  line-height: 2;
  margin-left: 5%;
}
#right{
  display: inline-block;
  width: 35%;
  margin-left: 85px;
  /* margin-left:200px ; */
  
}
#right ul{
  /* background-image: url('brooklyn-united-states-coffee-shop-new-york.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: red 2px solid ;
  background-color: cadetblue;
  background-blend-mode: screen; */
  background-image:url('../images/HomeImages/slideshow/10.jfif');
background-repeat: no-repeat;
background-size: cover;

background-color: rgba(2, 2, 2, 0.507);
background-blend-mode:darken;
border: solid white 1px ;
color: rgb(255, 254, 254);
text-shadow: 4px 4px 4px black ;

}
#right ul li{
  font-size: 25pt;
  line-height: 2.5;
  text-align: center;
list-style: none;
}
#slides {
  width: 100%;
  margin-bottom: 10%;
}
#slide{
  display: inline-block;
  width: 33%;
/* margin-left: 40px; */
}
#imgOne{
  display: inline-block;
width: 33%;
/* margin-left: 40px; */
}
#imgTwo{
  display: inline-block;
width: 33%;
/* margin-left: 40px; */
}
#slide img {
  width: 100%;
  height: 500px;
}
#imgOne img {
  width: 100%;
  height: 500px;
}
#imgTwo img {
  width: 100%;
  height: 500px;
}



.mySlides1 {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container1 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text1 {
  color: #f2f2f2;
  font-size: 25pt;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

/* Number text (1/3 etc) */
.numbertext1 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot1 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active1 {
  background-color: #717171;
}

/* Fading animation */
.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text1 {font-size: 11px}
}


.mySlides2 {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text2 {
  color: #f2f2f2;
  font-size: 25pt;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot2 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2 {
  background-color: #717171;
}

/* Fading animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text2 {font-size: 11px}
}


#fact{
  background-image: url('../images/HomeImages/fact2.jpg');
  font-size: 20px;
  /* margin-bottom: 10%; */
  height: 300px;
  text-align: center;
  /* background-blend-mode: screen ; */
  background-attachment: fixed;
  background-size: cover;
}
#fact h2 {
  /* margin-top: 5%; */
  padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
text-shadow: 2px 2px 2px black;
}
#fact p{
  width: 90%;
    padding-left: 120px;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    /* text-shadow: 2px 2px 4px black; */
    font-size: 30px;
    color: rgb(250, 192, 192);
    text-shadow: 2px 2px 2px black
}


main{
  background-attachment: fixed;
  background-color: rgba(10, 9, 9, 0.95);
  /* background-image: url('../images/HomeImages/black_texture.jpg');
  background-repeat:repeat-y;
 background-blend-mode: screen ;
 background-size: cover; */
}