*{
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0 auto;
}

header {
    border:solid white .9px;
    
    position: relative;
    width: 100%;
    background-color: #0a0a0a;
    margin: 0% auto;
    height: 130px;
}
main {
    /* padding-top: 50px; */
    width: 100%;
    background-image: url(../images/order/7.jpg);
    background-color: rgb(100, 62, 30);
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: screen;
}
#mainHeadPic {
    width: 100%;
    height: 400px;
    border: solid rgb(143, 140, 140) 5px;
}
main #ourProduct {

    width: 97%;
    margin-left: 40px;
    margin-top: -250px;
    /* margin: 0 auto; */
    /* margin-top: 150px; */
    font-size: 80pt;
    color: cornsilk;
    /* text-align: center; 
    border: solid 3px;
    background: rgb(73, 72, 72);
    background: radial-gradient(
        circle,
        rgba(138, 134, 134, 0.76)0%,
        rgba(12, 12, 12, 0.616)100%
        
        ); */
}
#ourProduct h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

main #allProduct {
    position: relative;
    width: 95%;
    margin: 130px auto;
    margin-bottom: 0%;
    padding-bottom: 50px;
    /* background-color: aqua */
}
main .product {
    display: inline-block;
    position: relative;
    margin-top: 70px;
    margin-left: 70px;
    background-color: rgb(245, 190, 109); 
     background: rgb(73, 72, 72);
    background: radial-gradient(
        circle,
        rgba(117, 86, 40, 0.76)0%,
        rgba(168, 161, 161, 0.616)100%
        
        ); 
    
    border: solid 3px rgb(228, 226, 226);
    border-radius: 8px;
    

    width: 25%;
    /* height: 415px; */
    
}
#allProduct a img {

    width: 60px;
    position: fixed;
    right: 2%;
    border: solid 1px white;
    border-radius: 100%;
    padding: 6px;
    background-color: burlywood;
    

}


.photo {
    width: 100%;
    height: 250px;
    
}
.price {
    display: inline-block;
    border: solid 1px black;    
    border-radius: 50%;
    padding: 12px 2px;
    background-color: burlywood;
    position: absolute;
    top: 50%;
    left: 2%;
   
}
.name {
    font-size: 15pt;
    text-align: center;
    padding-top: 5px;
}
.details {
    font-size: 12pt;
    text-align: center;
    padding-top: 5px;
    
}
.size {
    font-size: 12pt;
    text-align: center;
    padding-top: 5px;

}
main div div button {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    font-size: 15pt;
    border: solid white 3px;
    background-color: burlywood;
}
footer {
    width: 100%;
    height: 200px;
    background-color: black;
}